<header><nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Olimpijada</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
  
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/pocetna">Pocetna stranica</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/prijava">Prijava</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/promenaLozinke">Promena lozinke</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registracija">Registracija</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.olympics.com">Olympics</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.gotokyo.org/en/index.html">Tokio</a>
          </li>
        </ul>
  
        
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Pretraga" aria-label="Search"> -->
          <button class="btn btn-outline-success" (click)='odjava()' routerLink='pocetna'>Odjavi se</button>
        </form>
      </div>
    </div>
  </nav>
  
  </header>
  
  <ul class="breadcrumb">
    <li><a routerLink="/pocetna">Pocetna</a></li>
    <li><a routerLink="/prijava">Prijava</a></li>
    <li><a routerLink="/delegat">Delegat</a></li>
    <li>Raspored</li>
  </ul>
  
  
  
  <br />

 <ng-container *ngIf='takmicenje.vrsta=="i"'>

<div>
  <!-- <p>Takmicenje sa rednim brojem {{takmicenje.id}} treba da se odrzi u intervalu {{takmicenje.datump}}.{{takmicenje.datump}}. - {{takmicenje.datumk}}.{{takmicenje.datumk}}</p> -->
</div>

  <div class="row g-5">
      
<div class="col-sm-2">

</div>

 <table  class="col-sm-8">
   <tr class="col-sm-12">
     <td colspan="2">Izaberite datum i vreme odrzavanja finala takmicenja</td>
   </tr>
   <tr>
     <td>
      Vreme:
     </td><td>
         <input type="time" name="time" id="time" [(ngModel)]='vreme'>
  
     </td>
   </tr>
   <tr>
    <td>
     Datum:
    </td><td>
        <input type="date" name="date" id="date" [(ngModel)]='datum'>
 
    </td>
  </tr>
   <tr>
     <div class="greska">
{{porukaIndividualno}}
     </div>

   </tr>
   <tr>
<td colspan="2">
    <button (click)='finaleIndividualnog()'>Dodaj termin za finalnu grupu</button>  
</td>
   </tr>
 </table>
  <div class="col-sm-2">

  </div>
</div>
 

</ng-container>

<br/>
<hr>
<br/>
<button (click)='nazad()'>Povratak na stranu delegata</button>
  
